[DEFAULT]
trimstart = 20
stream = http://media/stream/input
server = server.hosting.podcastgenerator
user = username
password = password
podcastpath = /var/www/radio-podcasts/media/
podcastrefreshurl=http://server.hosting.podcastgenerator/radio-podcasts/pg-cron.php?key=whatever
saveto = ~/

#Example of Profile
[FC]
trimstart = 20
server = server.hosting.podcastgenerator
user = username
password = password
podcastpath = /var/www/radio-podcasts/media/
podcastrefreshurl=http://server.hosting.podcastgenerator/radio-podcasts/pg-cron.php?key=whatever
stream = http://media/stream/input

[OWNCLOUD]
url = http://ouncludserver
user = username
password = password
ocbasedir = DirToUploadTo
